<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zwitor</title> 

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/custom.css">
    <!-- <% include partials/head %> -->
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9JNFT');</script>
<!-- End Google Tag Manager -->
</head>

<!-- <% include partials/header %> -->

<body>

    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9JNFT"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		

		<div class="stars"><div class="nebula"></div></div>
			

			<section>
				<section class="team-page-section">
						<div class="container">
								<!-- Sec Title -->
								<div class="sec-title centered">
										<div class="title">Talks</div>
										
										
								</div>
		
								<div class="row clearfix justify-content-around">
		
										<!-- Team Block -->
										<div class="team-block col-lg-4 col-md-6 col-sm-12">
												<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
														<ul class="social-icons">
																<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
																<li><a href="#"><i class="fab fa-twitter"></i></a></li>
																<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
														</ul>
														<div class="image">
																<a href="#"><img src="./media/talk/sandeep.png" alt="" /></a>
														</div>
														<div class="lower-content">
																<h3><a href="#">Sandeep Jain </a></h3>
																<div class="designation">
																		<ul>
																				<li>Founder of Geeks for Geeks</li>
																				<li>Educational Entrepreneur who continuously strives to bring a change in the lives of students</li>
																				<br>
																				<br>
																				<li>Topic: <p style="font-weight: bolder">Competitive coding and The key to Placements</p> </li>
																				<li>Timings and Venue: <p style="font-weight: bolder">12:30 PM - 2:00 PM(17th Jan,2019), LT 09</p> </li>
																		</ul>
					
																	 </div>
														</div>
												</div>
										</div>
										<!-- Team Block -->
										<div class="team-block col-lg-4 col-md-6 col-sm-12">
												<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
														<ul class="social-icons">
																<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
																<li><a href="#"><i class="fab fa-twitter"></i></a></li>
																<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
														</ul>
														<div class="image">
																<a href="#"><img src="./media/talk/mathangi.jpg" alt="" /></a>
														</div>
														<div class="lower-content">
																<h3><a href="#">Mathangi Sri</a></h3>
																<div class="designation">
																	<ul>
																			<li>Data Science Head, ​PhonePe</li>
																			<li>One of the top 10 Data Scientists of India and has over 20 patents</li>
																			<li>Formerly VP at NexGen Solutions in Citi Bank</li>
																			<br>
																			<li>Topic: <p style="font-weight: bolder">Practical Applications & Scope <br> of Data Science & ML</p> </li>
																			<li>Timings and Venue <p style="font-weight: bolder">10:00 AM - 12:00 PM(18th Jan,2020), LT 09</p> </li>
																	</ul>
																	

																</div>
														</div>
												</div>
										</div>
										<!-- Team Block -->
									<div class="team-block col-lg-4 col-md-6 col-sm-12">
										<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
												<ul class="social-icons">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
												</ul>
												<div class="image">
														<a href="#"><img src="./media/talk/aman.jpg" alt="" /></a>
												</div>
												<div class="lower-content">
														<h3><a href="#">Aman Sanduja</a></h3>
														<div class="designation">
																<ul>
																		<li>Founder of TowardsBlockChain</li>
																		<li>A distinguised speaker who has given various talks all across the world</li>
																		<br>
																		<br>
																		<li>Topic: <p style="font-weight: bolder">The Holy Trinity : AI, Blockchain & IOT</p> </li>
																		<li>Timings and Venue <p style="font-weight: bolder">03:30 PM - 5:30 PM(17th Jan,2020), LT 09</p> </li>
																</ul>
																
														</div>
												</div>
										</div>
								</div>
		
								</div>

								<div class="row clearfix justify-content-around">
		
									<!-- Team Block -->
									<div class="team-block col-lg-4 col-md-6 col-sm-12">
											<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
													<ul class="social-icons">
															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
															<li><a href="#"><i class="fab fa-twitter"></i></a></li>
															<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
													</ul>
													<div class="image">
															<a href="#"><img src="./media/talk/Sahil.jpg" alt="" /></a>
													</div>
													<div class="lower-content">
															<h3><a href="#">Sahil Agrawal </a></h3>
															<div class="designation">
																	<ul>
																			<li>Founder & CEO of HippoCabs </li>
																			<li>Currently revolutionalizing tha cab Industry with his innovative solutions</li>
																			<li>A serial Entrepreneur, he is the founder of 4 other startups before HippoCabs</li>
																			<br>
																			<li>Topic: <p style="font-weight: bolder">Key Skills for Entrepreneurship</p> </li>
																			<li>Timings and Venue <p style="font-weight: bolder">02:00 PM - 04:00 PM(18th Jan,2020), LT 09</p> </li>
																	</ul>
				
																 </div>
													</div>
											</div>
									</div>
									<!-- Team Block -->
									<div class="team-block col-lg-4 col-md-6 col-sm-12">
											<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
													<ul class="social-icons">
															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
															<li><a href="#"><i class="fab fa-twitter"></i></a></li>
															<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
													</ul>
													<div class="image">
															<a href="#"><img src="./media/talk/KIRAN.jpg" alt="" /></a>
													</div>
													<div class="lower-content">
															<h3><a href="#">Kiran Verma</a></h3>
															<div class="designation">
																<ul>
																		<li>Founder of Simply Blood</li>
																		<li>Aims to eliminate death due to blood related issues by the end of 2025</li>
																		<li>A distinguised speaker, also the CEO of One Foundation</li>
																		<br>
																		<br>
																		<li>Topic: <p style="font-weight: bolder">Core of Social Entrepreneurship</p> </li>
																		<li>Timings and Venue <p style="font-weight: bolder">10:00 AM - 12:00 PM(19th Jan,2020), LT 09</p> </li>
																</ul>

															</div>
													</div>
											</div>
									</div>
									<!-- Team Block -->
									<!-- <div class="team-block col-lg-4 col-md-6 col-sm-12">
										<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
												<ul class="social-icons">
														<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
														<li><a href="#"><i class="fab fa-twitter"></i></a></li>
														<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
												</ul>
												<div class="image">
														<a href="#"><img src="./media/talk/Ayush.JPG" alt="" /></a>
												</div>
												<div class="lower-content">
														<h3><a href="#">Aayush Kumar</a></h3>
														<div class="designation">
															<ul>
																	<li>CEO at OpsLyft</li>
																	<li>Co-founder Chefensa</li>
																	<li>Also an alumni of LNMIIT</li>
																	<br>
																	<br>
																	<br>
																	<br>
																	<br>
																	<li>Topic: <p style="font-weight: bolder">Core of Social Entrepreneurship</p> </li>
																	<li>Timings and Venue <p style="font-weight: bolder">02:00 PM - 04:00 PM(19th Jan,2020), LT 09</p> </li>
															</ul>

														</div>
												</div>
										</div>
									</div> -->
									
	
							</div>
								
						</div>
				</section>
		</section>

		<div class="space"></div>

			
			<!-- <%include partials/footer%> -->
			
			<script>
				$(window).scroll(function() {
					if ($(document).scrollTop() > 100) {
						//console.log("ahkdsj");
						$("#navbar-menu").addClass("color-change");
						$('footer').addClass("color-change");
		
					} else {
						$("#navbar-menu").removeClass("color-change");
						$('footer').removeClass("color-change");
					}
				});
		
				
		
		
				</script>
			<script src="./js/libs/tweenmax.min.js" defer></script>
             <script src="./js/main.min.js" defer></script>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</body>
</html>
