<!DOCTYPE html>
<html lang="en">
  <head>
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <title>Zwitor</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="./css/cards.css">
  </head>
  <body style="background:url('https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80')">
    <div class="container">
  <div class="row team-row" style="padding-top:100px;">

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                <strong>Physics</strong><br>
                <strong>B.Tech. IIT Delhi</strong><br>
                Ex. Career Point Faculty(Teaching Exp. 7 Years)
              </p>
              <div class="socials mt-20">
                <p>Contact : +91-8882928844, +91-9311004464</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title font-weight-bold"><strong>Vikrant Vatsal</strong></h6>
        <span>Director & Founder</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                <strong>Chemistry</strong><br>
                <strong>M.Sc. IIT Delhi</strong><br>
                 Ex. Radiant Eduventures Faculty (Teaching Exp. 5 Years)
              </p>
              <div class="socials mt-20">
                <p>Contact : +91-8882928844, +91-8527457295</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title"><strong>Shivam Kumar</strong></h6>
        <span>Director & Founder</span>
      </div>
    </div>
    <!-- end team member -->

 <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
              <strong>Mathematics</strong><br>
                <strong>B.Tech. IIT Delhi</strong><br>
                Ex. Radiant Eduventures Faculty (Teaching Exp. 6 Years)
              </p>
              <div class="socials mt-20">
                <p>Contact : +91-8882928844, +91-9555944332</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title"><strong>Soham Sharma</strong></h6>
        <span>Director & Founder</span>
      </div>
    </div>
    </div>
    <!-- end team member -->

  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>