<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Zwitor</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./css/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/css/custom.css">
	<script src="./js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="./images/logo.png" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
            
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="home" class="main-banner parallaxie" style="background: url('./uploads/banner-01.jpg')">
		<div class="heading">
			<h1>Welcome to Zwitor</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>A coaching center that takes you  </span>
				<span class="cd-words-wrapper">
					<b class="is-visible"> ahead!</b>
					
				</span>
				<div class="btn-ber">
<!--
					<a class="get_btn hvr-bounce-to-top" href="#">Get started</a>
					<a class="learn_btn hvr-bounce-to-top" href="#">Learn More</a>
-->
				</div>
			</h3>
		</div>
	</section>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Welcome to Zwitor</h2>
                        <p> We will help you prepare for XI, XII, IIT-JEE, NEET, KVPY. </p>
			<p> Every concept will be explained from the basics and we will walk with you at your pace, so as to ensure better learning. </p>
			<p> We ensure to be the best faculty team in Alwar. </p>
			<p> <b> Address:- 25, Scheme No. - 2, Lagpat Nagar, Alwar (Raj.) </b> </br>
			    <b> Contact:- +91-8882928844 </b></p>

                        <!-- a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a-->
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="./uploads/about_04.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
   
	<div id="team" class="section wb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Our Team</h3>
			</div><!-- end title -->
		
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="./uploads/vatsal.jpg">
						</div>
						<div class="team-content">
							<h3 class="title">Vikrant Vatsal</h3>
							<span class="post">Director & Founder</span>
							<span >HOD- Physics</span></br>
							<span >B.Tech - IIT Delhi</span></br>
							<span >Ex. Career Point Faculty</br>(Teaching Exp. 7 Years)</span></br>	
							<span >Contact : +91-888292844</span></br>

							<ul class="social">
								<li><a href="https://www.facebook.com/vikrantvatsaliitd/" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="./uploads/soham.jpg">
						</div>
						<div class="team-content">
							<h3 class="title">Soaham Sharma</h3>
							<span class="post">Director & Founder</span>
							<span >HOD- Mathematics</span></br>
							<span >B.Tech - IIT Delhi</span></br>
							<span >Ex. Radiant Eduventures Faculty</br>(Teaching Exp. 6 Years)</span></br>	
							<span >Contact : +91-9555944332</span></br>
							<ul class="social">
								<li><a href="https://www.facebook.com/soaham.sharma" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="./uploads/Shivam.jpg">
						</div>
						<div class="team-content">
							<h3 class="title">Shivam Kumar</h3>
							<span class="post">Director & Founder</span>
							<span >HOD- Chemistry</span></br>
							<span >B.Tech - IIT Delhi</span></br>
							<span >Ex. Radiant Eduventures Faculty</br>(Teaching Exp. 5 Years)</span></br>	
							<span >Contact : +91-8527457295</span></br>
							<ul class="social">
								<li><a href="https://www.facebook.com/profile.php?id=100006203863283" class="fa fa-facebook"></a></li>
								<li><a href="#" class="fa fa-twitter"></a></li>
								<li><a href="#" class="fa fa-google-plus"></a></li>
							</ul>
						</div>
					</div>
				</div>
				
	
			</div>
		</div>
	</div>
	


  
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="./js/all.js"></script>
	<!-- Camera Slider -->
	<script src="./js/jquery.mobile.customized.min.js"></script>
	<script src="./js/jquery.easing.1.3.js"></script> 
	<script src="./js/parallaxie.js"></script>
	<script src="./js/headline.js"></script>
	<!-- Contact form JavaScript -->
    <script src="./js/jqBootstrapValidation.js"></script>
    <script src="./js/contact_me.js"></script>
    <!-- ALL PLUGINS -->
    <script src="./js/custom.js"></script>
    <script src="./js/jquery.vide.js"></script>

</body>
</html>
