@font-face {
	font-family: 'Quantico-Regular';
	src: url("./fonts/Quantico/Quantico-Regular.woff2") format("woff2"),
		url("./fonts/Quantico/Quantico-Regular.woff") format("woff"),
		url("./fonts/Quantico/Quantico-Regular.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Quantico-Italic';
	src: url("./fonts/Quantico/Quantico-Italic.woff2") format("woff2"),
		url("./fonts/Quantico/Quantico-Italic.woff") format("woff"),
		url("./fonts/Quantico/Quantico-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Quantico-BoldItalic';
	src: url("./fonts/Quantico/Quantico-BoldItalic.woff2") format("woff2"),
		url("./fonts/Quantico/Quantico-BoldItalic.woff") format("woff"),
		url("./fonts/Quantico/Quantico-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Quantico-Bold';
	src: url("./fonts/Quantico/Quantico-Bold.woff2") format("woff2"),
		url("./fonts/Quantico/Quantico-Bold.woff") format("woff"),
		url("./fonts/Quantico/Quantico-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Rajdhani-Light';
	src: url("./fonts/Rajdhani/Rajdhani-Light.woff2") format("woff2"),
		url("./fonts/Rajdhani/Rajdhani-Light.woff") format("woff"),
		url("./fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'Rajdhani-Regular';
	src: url("./fonts/Rajdhani/Rajdhani-Regular.woff2") format("woff2"),
		url("./fonts/Rajdhani/Rajdhani-Regular.woff") format("woff"),
		url("./fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'Rajdhani-Medium';
	src: url("./fonts/Rajdhani/Rajdhani-Medium.woff2") format("woff2"),
		url("./fonts/Rajdhani/Rajdhani-Medium.woff") format("woff"),
		url("./fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Rajdhani-SemiBold';
	src: url("./fonts/Rajdhani/Rajdhani-SemiBold.woff2") format("woff2"),
		url("./fonts/Rajdhani/Rajdhani-SemiBold.woff") format("woff"),
		url("./fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'Rajdhani-Bold';
	src: url("./fonts/Rajdhani/Rajdhani-Bold.woff2") format("woff2"),
		url("./fonts/Rajdhani/Rajdhani-Bold.woff") format("woff"),
		url("./fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'NGC-Light';
	src: url("./fonts/NGC/NGCDINOnAir-Light.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-Light.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-Light.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: 'NGC-Medium';
	src: url("./fonts/NGC/NGCDINOnAir-Medium.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-Medium.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-Medium.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: 'NGC-Regular';
	src: url("./fonts/NGC/NGCDINOnAir-Regular.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-Regular.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: 'NGC-CondBold';
	src: url("./fonts/NGC/NGCDINOnAir-CondBold.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-CondBold.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-CondBold.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'NGC-Bold';
	src: url("./fonts/NGC/NGCDINOnAir-Bold.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-Bold.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-Bold.ttf") format("truetype");
	font-weight: 600;
}

@font-face {
	font-family: 'NGC-Black';
	src: url("./fonts/NGC/NGCDINOnAir-Black.woff2") format("woff2"),
		url("./fonts/NGC/NGCDINOnAir-Black.woff") format("woff"),
		url("./fonts/NGC/NGCDINOnAir-Black.ttf") format("truetype");
	font-weight: 700;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	-webkit-text-size-adjust: 100%;
	position: relative;
	min-height: 100%;
	width: 100%;
	overflow-y: auto;
	background-color: #000;
	color: #fff;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	
	z-index: -2;

	height: calc(100% + 200px);
	animation: fadeInAnimation ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.footer {
	display: block;
	float: left;
	width: 100%;
	padding: 0 2rem;
	margin: 20rem 0 0 0;
	/* background: url("./media/star.jpg"); */
	-webkit-transition: background-color 1000ms linear;
	position: fixed;
	bottom: 0;
	z-index: 7;
}

.footer__list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	margin: 0.5rem 0 0.5rem 0;
}

.footer__item {
	font-family: "NGC-CondBold", sans-serif;
	font-size: 1.75rem;
	text-transform: uppercase;
	float: left;
	line-height: 3rem;
	padding: 0 1rem;
}

@media screen and (max-width: 62em) {
	.footer__item {
		width: 33.3333333332%;
		text-align: center;
	}
}

@media screen and (max-width: 48em) {
	.footer__item {
		width: 25%;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}
}

/*@media screen and (max-width: 48em) {
	.footer__link {
		font-size: 0.5rem;
		width: 100%;
		overflow: hidden;
	}
}*/

.footer__item:first-of-type {
	padding: 0 2rem 0 4rem;
}

@media screen and (max-width: 62em) {
	.footer__item:first-of-type {
		padding: 0 1rem;
	}
}

.footer__item--copyright {
	font-family: "NGC-Medium", sans-serif;
	font-size: 1.4rem;
	text-transform: none;
	opacity: 0.4;
	padding: 0;
}

@media screen and (max-width: 62em) {
	.footer__item--copyright {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.footer__item--right {
	float: right;
	margin: 0 4rem 0 0;
}

@media screen and (max-width: 62em) {
	.footer__item--right {
		margin: 0;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 48em) {
	.footer__item--right {
		padding-left: 1.5rem;
		padding-right: 0rem;
		width: 50%;
		text-align: right;
		margin: 0;
	}
}

.footer__link {
	color: #fff;
	text-decoration: none;
	transition: color 0.25s ease-in;
}

.footer__link:hover {
	color: #c46b16 !important;
	text-decoration: none !important;
}

.social-link {
	text-decoration: none;
}

.facebook-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	cursor: pointer;
	color: white;
	transition: color 0.25s ease-in;
}

.twitter-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}
.instagram-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}

.youtube-link {
	height: 2rem;
	width: 2rem;
	margin-right: 2rem;
	text-decoration: none;
	color: white;
	transition: color 0.25s ease-in;
}

@media screen and (max-width: 48em) {
	.facebook-link {
		margin-right: 15px;
	}
	.twitter-link {
		margin-right: 15px;
	}
	.instagram-link {
		margin-right: 15px;
	}
	.youtube-link {
		margin-right: 15px;
	}
}

.fa-youtube-play:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-facebook-official:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-twitter-square:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.fa-instagram:hover {
	color: #c46b16 !important;
	transition: color 0.35s ease-in;
}

.color-change2 {
	background-color: black !important;
	-webkit-transition: background-color 1200ms linear;
}

.stars {
	position: fixed;
	/* background-image: url("./media/background.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	z-index: -2;
	transform: translate3d(0, 0, 0);
	will-change: transform;

	width: 100vw;
	height: calc(100% + 200px);
}

.cookie {
	width: 720px;
	max-width: 90%;
	height: 360px;
	max-height: 95%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	background: #000;
	z-index: 99;
	padding: 50px 90px;
	text-align: center;
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 62em) {
	.cookie {
		padding: 20px;
		overflow-y: scroll;
	}
}

.cookie--hidden {
	display: none;
}

.cookie__title {
	color: #c46b16;
	letter-spacing: .2rem;
	font-size: 1.8rem;
	font-family: "NGC-CondBold", sans-serif;
}

.cookie__message {
	line-height: 20px;
	margin-top: 20px;
	font-family: "NGC-Medium", sans-serif;
	line-height: 1.8em;
	letter-spacing: .1rem;
	margin-bottom: 70px;
}

@media screen and (max-width: 62em) {
	.cookie__message {
		font-size: 1.4em;
		line-height: 1.6em;
	}
}

.cookie__link {
	cursor: pointer;
	line-height: 15px;
	height: 40px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	font-size: 1.6rem;
	letter-spacing: .1em;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-family: "NGC-CondBold", sans-serif;
	/* background-image: url("./media/icons/checkmark-white.svg"); */
	background-repeat: no-repeat;
	background-position: 20px center;
	text-align: center;
}

.cookie__url {
	color: #fff;
}

.nebula {
	position: fixed;
	display: block;
	right: 0;
	top: 0;
	width: 785px;
	height: 692px;
	/* background: url("./media/Header/nebula.png") top right no-repeat; */
	background-size: contain;
	opacity: 0.6;
	z-index: -1;
}

/*card css starts*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.image {
	max-width: 80%;
	height: auto;
	margin-left: 20px;
}

.team-page-section {
	position: relative;
	padding-top: 70px;
}

.team-page-section .team-block {
	margin-bottom: 60px;
}

.sec-title {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
}

.sec-title .title {
	position: relative;

	font-family: "NGC-Regular", sans-serif;
	letter-spacing: 0.25em;
	margin: 3rem -0.3em 0 0;
	font-size: 6rem;

	color: #fff;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.sec-title .separator {
	position: relative;
	width: 40px;
	margin-top: 16px !important;
}

.sec-title .separator:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 10px;
	height: 2px;
	background-color: #ff9600;
}

.sec-title .separator:after {
	position: absolute;
	content: '';
	right: 0px;
	top: 0px;
	width: 10px;
	height: 2px;
	background-color: #ff9600;
}

.sec-title .separator span {
	position: absolute;
	left: 50%;
	top: -2px;
	width: 10px;
	height: 5px;
	margin-left: -5px;
	display: inline-block;
	background-color: #bd0000;
}

.sec-title h2 {
	position: relative;
	color: #222222;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2em;
	margin-top: 35px;
}

.sec-title .text {
	position: relative;
	font-size: 14px;
	line-height: 1.9em;
	color: #555555;
	margin-top: 10px;
}

.sec-title.centered .separator {
	margin: 0 auto !important;
	float: none !important;
}

.sec-title.centered {
	text-align: center !important;
}

.sec-title.light .title {
	color: #ffffff;
}

.sec-title.light h2 {
	color: #ffffff;
}

.sec-title.light .separator span {
	background-color: #ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after {
	background-color: #ffffff;
}

.team-section {
	position: relative;
	padding: 80px 0px 60px;
}

.team-section.style-two .pattern-layer {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center center;
	background-repeat: no-repeat;
}

.team-section .title-box {
	position: relative;
	text-align: center;
}

.team-section .title-box h2 {
	position: relative;
	color: #222222;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 50px;
}

.team-section .title-box h2 span {
	color: #ff9600;
}

.team-block {
	position: relative;
}

.team-block .inner-box {
	position: relative;
	padding: 40px 70px 28px 0px;
}

.team-block .inner-box:before {
	position: absolute;
	content: '';
	right: 10px;
	top: 0px;
	left: 50px;
	bottom: 0px;
	border-radius: 10px;
	background-color: #f5f5f5;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

.team-block .inner-box::after {
	position: absolute;
	content: '';
	top: 0px;

	left: 50px;
	bottom: 0px;
	width: 0%;
	border-radius: 10px;

	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
}

.team-block .inner-box:hover::after {
	width: 84%;
	border: 2px solid white;
}

@media screen and (min-width: 480px) and (max-width: 620px) {
	.team-block .inner-box:hover::after {
		width: 87%;
		border: 2px solid white;
	}
}

@media screen and (min-width: 421px) and (max-width: 479px) {
	.team-block .inner-box:hover::after {
		width: 85%;
		border: 2px solid white;
	}
}

@media screen and (max-width: 420px) {
	.team-block .inner-box:hover::after {
		width: 84%;
		border: 2px solid white;
	}
}

@media screen and (max-width: 320px) {
	.team-block .inner-box:hover::after {
		width: 79.5%;
		border: 2px solid white;
	}
}
@media only screen and (max-width: 770px) and (min-width: 620px) {
	.team-block .inner-box:hover::after {
		width: 88%;
		border: 2px solid white;
	}
}

.team-block .inner-box .social-icons {
	position: absolute;
	right: 47px;
	top: 75px;
	z-index: 1;
}

@media screen and (max-width: 320px) {
	.team-block .inner-box .social-icons {
		position: absolute;
		right: 45px;
		top: 60px;
		z-index: 1;
	}
}

@media only screen and (max-width: 620px) and (min-width: 479px) {
	.team-block .inner-box .social-icons {
		position: absolute;
		right: 60px;
		top: 75px;
		z-index: 1;
	}
}

@media only screen and (max-width: 770px) and (min-width: 620px) {
	.team-block .inner-box .social-icons {
		position: absolute;
		right: 63px;
		top: 75px;
		z-index: 1;
	}
}

@media only screen and (max-width: 480px) and (min-width: 400px) {
	.team-block .inner-box .social-icons {
		position: absolute;
		right: 52px;
		top: 60px;
		z-index: 1;
	}
}

.team-block .inner-box .social-icons li {
	position: relative;
	margin-bottom: 20px;
}

.team-block .inner-box .social-icons li a {
	position: relative;
	color: black;
	font-size: 18px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation {
	color: #ffffff;
}

.team-block .inner-box .image {
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 0.20);
}

.team-block .inner-box .image img {
	position: relative;
	width: 100%;
	display: block;
}

.team-block .inner-box .lower-content {
	position: relative;
	text-align: left;
	z-index: 1;
	padding: 30px 25px 0px 90px;
}

.lower-content {
	width: 130% !important;
}

.team-block .inner-box .lower-content h3 {
	position: relative;
	color: black;
	font-family: "NGC-Bold", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1em;
}

.team-block .inner-box .lower-content h3 a {
	position: relative;

	color: black;
	font-family: "NGC-Bold", sans-serif;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation {
	position: relative;
	margin-top: 3px;
	color: black;
	font-family: "NGC-Regular", sans-serif;
	font-size: 17px;
	width: 100%;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a {
	color: #ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a {
	color: #ffffff;
}

.team-block.style-two .inner-box::after {
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
	background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
}
